*
{
    margin: 0;
    padding: 0;
    border: 0 none;
}

header, section, footer, aside, nav, main, article, figure
{
    display: block;
} 

body
{
    margin: 40px auto;
    max-width: 90em;
    min-width: 37.5em;
    background-color: white;
    font-size: 100%;
    width: 100%;
    border: 1px solid #82868f;
}

header
{	
    height: 8em;
}

#logotype
{
    width: 15%;
    height: 4em;
    float: left;
    background-color: green;
}

#buttons
{
    float: right;
    margin: 1em;
}

#register, #log_in
{
    height: 4em;
    display: inline;
    padding: 0 1em;
}

#our_name
{
    clear: both;
    height: 4em;
    margin: 0em 15% 0em 15%;
    background-color: red;
    text-align: center;
}

#content
{
    width: 100%;
    height: 50em;
    margin: 1em;
}

#left_side
{
    float: left;
    width: 30%;
}

#main
{
    width: 70%;
}

#menu1
{
    float: right;
}

#change, #remove, #state
{
    display: inline;
}

footer
{
    height: 8em
    background-color: blue;
}
